*.iml
.DS_Store
.externalNativeBuild
.gradle
.idea
bazel-*
build
captures
local.properties
release-signing/
release-artifacts/
*.apk
*.aab
*.apks
*.idsig
*.jks
*.p12
*.pem
pepk.jar
skyTox.original.png
unload-ubuntu-wsl.bat
github-upload-*.zip

# gradle-from-source build
_build
_git
_install
